.container {
  border: 0.1rem solid black;
  font-weight: bold;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  transition: background 0.15s ease-out;
  user-select: none;
  width: 2rem;
}

.flagged {
  composes: container;
  background-color: orange;
}

.hidden {
  composes: container;
  background-color: gray;
}

.mined {
  composes: container;
  background-color: red;
}

.visible {
  composes: container;
  background-color: white;
}