.container {
  background-color: #50d0f0;
  border-radius: 0.2rem;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 0.5rem;
  user-select: none;
}