.container {
  display: flex;
  flex-direction: column;
  height: inherit;
  text-align: center;
}

header {
  margin-left: 0.5rem;
}

.content {
  display: flex;
  flex: 1 1;
}

.settings {
  display: none;
  flex: 0 0;
}

.game {
  flex: 1 1;
}