body {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100vh;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: inherit;
  width: inherit;
}
